@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Print Styles */
@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    background: white;
  }

  /* Hide UI elements when printing */
  .no-print {
    display: none !important;
  }
}

[contenteditable] a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

[contenteditable] a:hover {
  opacity: 0.8;
}
